.bg-detail-wool {
    background: url(../../../../public/images/bg-detail-wool.png) no-repeat;
    background-position: top;
    background-size: 100% 100%;
}
.bg-detail-silver {
    background: url(../../../../public/images/bg-silver-detail.png) no-repeat;
    background-position: top;
    background-size: 100% 100%;
}
.bg-detail-gold {
    background: url(../../../../public/images/bg-gold-detail.png) no-repeat;
    background-position: top;
    background-size: 100% 100%;
}
.owner-address {
    background: #2e2f31;
    border-radius: 8px;
    height: 40px;
    padding-left: 10px;
    line-height: 40px;
    font-family: "Montserrat";
    font-size: 16px;
    color: #fffdfd;
}

.detail-box {
    min-height: 700px;
    height: auto;
    width: 100%;
    width: 100%;
    padding: 30px;
}
.detail-box p {
    font-family: Montserrat !important;
}
.detail-box div {
    font-family: Montserrat !important;
}
.detail-box span {
    font-family: Montserrat !important;
}
.back {
    width: 100%;
    margin-bottom: 15px;
}
.detail-box-info-pr {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #f5de05;
}
.back a {
    color: #fff;
}
.detail-block {
    width: 100%;
}
.detail-img {
    width: 100%;
    /* background: #000; */
    min-height: 530px;
    margin: auto;
    border-radius: 10px;
    padding-top: 40px;
    border-width: 4px;
    border-image: linear-gradient(141.55% 103.67% at 2.8% 1.1%, #fbb982 0%, #c27c58 100%) 1;
}
.mb-20 {
    margin-bottom: 20px;
}
.detail-img img {
    width: 100%;
}
.detail-info {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #db9125;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
}
.detail-box-name {
    margin-top: 0px !important;
}
.detail-info p {
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.01em;
    margin-top: 20px;
    color: #ffd44f;
    margin-bottom: 15px;
}
.detail-des {
    font-family: Monotype Corsiva;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.detail-des ul {
    margin-bottom: 10px;
    margin-top: 15px;
    padding-left: 0px;
}
.detail-des ul li {
    display: inline;
    margin-right: 15px;
}
.detail-des ul li span {
    color: #fff;
    padding-left: 5px;
}
.detail-des ul li img {
    width: 30px;
}
.detail-des-input {
    width: 100%;
}
.input-quantity-box {
    height: 38px;
    width: 100%;
    background: #2e2f31;
    border-radius: 10px;
    border: none;
    padding-left: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #ffffff;
}
.detail-des-input img.icon-box-detail {
    padding-left: 40px;
    position: absolute;
    padding-top: 5px;
    left: 0;
}
.detail-box-name .price-info {
    display: initial;
    padding-left: 15px;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
}
.text-right {
    float: right;
}
.mt-20 {
    margin-top: 20px;
}
.mt-5 {
    margin-top: 5px !important;
}
.hero-ddress-info {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}
.hero-ddress-info span:nth-child(2) {
    float: right;
    color: #fff !important;
}
.hero-select {
    background: transparent !important;
    color: #fff !important;
}
.hero-select .ant-select-selector {
    background-color: transparent !important;
    border: 1px solid #ffdf8d !important;
    height: 40px !important;
    border-radius: 5px;
    color: #fff;
}
.hero-select .ant-select-arrow {
    color: #fff !important;
}
.hero-select .ant-select-selection-item {
    line-height: 38px !important;
}
.btn-with {
    width: 150px;
}
.hero-nft-id {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.01em;
    font-weight: 500;
    color: #ffffff;
}
.hero-img-detail {
    text-align: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
}
.hero-img-detail img {
    margin: auto;
    max-height: 365px;
    height: auto;
}
.hero-provided {
    height: 123px;
    background: linear-gradient(180deg, rgba(255, 190, 70, 0) 0%, #ffbe46 136.18%);
    margin-top: -95px;
    position: relative;
}
.hero-provided span:nth-child(1) {
    letter-spacing: 0.01em;
    padding-left: 10px;
    color: #fff;
    position: absolute;
    bottom: 5px;
}
.hero-provided span:nth-child(2) {
    color: #16b979;
    float: right;
    padding-right: 10px;
    position: absolute;
    bottom: 5px;
    right: 15px;
}
.hero-name-detail {
    border: 1px solid #ffe668;
    font-family: Golden_Silver;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.stun-image-detail-cus {
    min-height: 120px;
}
.item-cus {
    background: linear-gradient(180deg, rgba(40, 4, 40, 0) 0%, #5b075b 100%);
}
.name-cus-item {
    border: 1px solid #5a085a;
}
.input-custom {
    height: 38px;
    width: 100%;
    background: #2e2f31;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 38px;
    letter-spacing: 0.01em;
    color: #ffffff;
}
.sell-form .label-price {
    color: #ffe668 !important;
    font-family: Gemunu Libre !important;
    font-size: 18px !important;
}
.sell-form-img {
    width: 100%;
    text-align: center;
}
.sell-form-img img {
    width: auto;
    margin: auto;
    height: 180px;
    margin-bottom: 15px;
}
@media (max-width: 768px) {
    .detail-img {
        margin-bottom: 15px;
    }
    .detail-box {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .detail-box-name {
        margin-bottom: 15px;
    }
    .text-right {
        float: left;
    }
}
@media screen and (max-width: 385px) {
    .btn-gold-div .btn-gold {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        max-width: 100% !important;
    }
}
